version: '3'

volumes:
  postgres_data:
      driver: local

services:
  postgres:
    container_name: postgres-keycloak
    image: "${POSTGRES_IMAGE}:${POSTGRES_VERSION}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
  keycloak:
    container_name: keycloak-bff
    image: "quay.io/keycloak/keycloak:18.0.2-legacy"
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres-keycloak
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
      KEYCLOAK_IMPORT: /config/onap-realm.json
    ports:
      - 8080:8080
    volumes:
      - ./config:/config
    depends_on:
      - postgres
  mongo-history:
    container_name: mongo-history
    image: "${MONGO_IMAGE}:${MONGO_VERSION}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${HISTORY_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${HISTORY_PASSWORD}
  history:
    container_name: history
    image: "${IMAGE_REPOSITORY}/${HISTORY_IMAGE_NAME}:${HISTORY_IMAGE_TAG}"
    ports:
      - 9002:9002
    environment:
      HISTORY_USERNAME: ${HISTORY_USERNAME}
      HISTORY_PASSWORD: ${HISTORY_PASSWORD}
      HISTORY_DATABASE: ${HISTORY_DATABASE}
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      HISTORY_HOST: ${HISTORY_HOST}
      HISTORY_PORT: ${HISTORY_PORT}
    depends_on:
      - mongo-history
  mongo-preferences:
    container_name: mongo-preferences
    image: "${MONGO_IMAGE}:${MONGO_VERSION}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${PORTALPREFS_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${PORTALPREFS_PASSWORD}
  preferences:
    container_name: preferences
    image: "${IMAGE_REPOSITORY}/${PREFERENCES_IMAGE_NAME}:${PREFERENCES_IMAGE_TAG}"
    ports:
      - 9001:9001
    environment:
      PORTALPREFS_USERNAME: ${PORTALPREFS_USERNAME}
      PORTALPREFS_PASSWORD: ${PORTALPREFS_PASSWORD}
      PORTALPREFS_DATABASE: ${PORTALPREFS_DATABASE}
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      PORTALPREFS_HOST: ${PORTALPREFS_HOST}
      PORTALPREFS_PORT: ${PORTALPREFS_PORT}
    depends_on:
      - mongo-preferences