# List of common application properties:
# https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#common-application-properties
server:
  port: 9080
  address: 0.0.0.0

logging:
  level:
    org.springframework.web: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    enabled: true
    sampling:
      probability: 1.0 # sample every request
  zipkin:
    tracing:
      endpoint: ${COLLECTOR_HOST}:${COLLECTOR_PORT}/api/v2/spans

spring:
  application:
    name: bff
  profiles:
    include:
      - access-control
  security:
    oauth2:
      client:
        provider:
          keycloak:
            token-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token
            jwk-set-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
        registration:
          keycloak:
            provider: keycloak
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: client_credentials
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

bff:
  realm: ${KEYCLOAK_REALM}
  preferences-url: ${PREFERENCES_URL}
  history-url: ${HISTORY_URL}
  keycloak-url: ${KEYCLOAK_URL}
  keycloak-client-id: ${KEYCLOAK_CLIENT_ID}
  endpoints:
    unauthenticated: /api-docs.html, /api.yaml, /webjars/**, /actuator/**

  rbac:
    endpoints-excluded: ${RBAC_EXCLUDED_ENDPOINTS}:-/api-docs.html, /api.yaml, /webjars/**, /actuator/**, /users**, /roles**, /preferences**, /actions**}
